table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #cac9c9;}

  .logoImg {
    float: right;
    height: 37px;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:8px
}

.clickPointer {
  cursor: pointer;
}