<ion-header>
	<ion-toolbar>
		<ion-title>Stationen</ion-title>
		<img alt="logo" class="logoImg" id="header_logo" height="40" src="./assets/icon/logo.png">

		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="fullscreen">
	<ng-template #loading>
		<ion-label>
			Daten werden geladen....
		</ion-label>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-template>
	<ion-list>
		<ion-item padding="none" class="clickPointer" *ngFor="let state of states$ | async" (click)="showDetails(state.state)">
			<h3> {{ state.state }}</h3>
			<ion-note slot="end" color="primary">{{state.count}}</ion-note>
		</ion-item>
	</ion-list>
</ion-content>